<% @favorites.each do |fav| %>
    <%= link_to image_tag(fav.startup.thumb_url), "#{fav.startup.url}", target: "_blank", class: "thumbnail" %>
    <ul class="startup-list">
      <li><h2 class="h2-li"><%= fav.startup.name %> <span CLASS="title-h2">(<%= fav.job_type.titleize %>)</span></h2></li>
      <li><strong>Job title:</strong> <%= fav.title.truncate_words(10) %></li>
      <% if fav.salary_max && fav.salary_min != nil && fav.salary_max && fav.salary_min != 0 %>
        <li><strong>Salary: </strong>$<%= number_with_delimiter(fav.salary_min, delimiter: ',') %> - $<%= number_with_delimiter(fav.salary_max, delimiter: ',') %></li>
      <% else %>
        <li><strong>Salary: </strong>N/A<li>
      <% end %>
      <li>
       <%= link_to "Details", job.al_url %> | 
       <%= link_to "Website", job.startup.url, target: "_blank" %> |
       <% if current_user.jobs.exists?(al_job_id: job.al_job_id) %>
         nothing 
       <% else %>
         <%= form_tag(favorites_path) do %>
           <%= hidden_field_tag(:id, job.id) %>
           <%= hidden_field_tag(:search, params[:search]) %>
           <%= submit_tag("Add Favorite") %>
         <% end %>
       <% end %>
      </li>
    </ul>
  <hr>
<% end %>