<div class="container">
  <div class="favorite-title">
    <h1>Favorites</h1>
  </div>
  <% @favorites.each do |fav| %>
      <%= link_to image_tag(fav.startup.thumb_url), "#{fav.startup.url}", target: "_blank", class: "thumbnail" %>
      <ul class="startup-list">
        <li><h2 class="h2-li"><%= fav.startup.name %> <span CLASS="title-h2">(<%= fav.location.display_name %>/<%= fav.job_type.titleize %>)</span></h2></li>
        <li><strong>Job title:</strong> <%= fav.title.truncate_words(10) %></li>
        <% if fav.salary_max && fav.salary_min != nil && fav.salary_max && fav.salary_min != 0 %>
          <li><strong>Salary: </strong>$<%= number_with_delimiter(fav.salary_min, delimiter: ',') %> - $<%= number_with_delimiter(fav.salary_max, delimiter: ',') %></li>
        <% else %>
          <li><strong>Salary: </strong>N/A</li>
        <% end %>
        <li>
          <%= link_to "Details", fav.al_url %> | 
          <%= link_to "Website", fav.startup.url, target: "_blank" %> |
          <%= form_tag(favorites_path, method: 'delete') do %>
            <%= hidden_field_tag(:id, fav.id) %>
            <%= button_tag(type: 'Delete', class: "btn btn-sm btn-primary") do %>
              <span><i class="fa fa-times"></i></span> Remove
            <% end %>
          <% end %>
        </li>
      </ul>
    <hr>
  <% end %>

  <div class="back">
    <%= link_to "Back", :back, class: "btn btn-default" %>
  </div>

  <%= will_paginate @favorites, renderer: BootstrapPagination::Rails %>

</div>