<% @jobs.each do |job| %>
    <%= link_to image_tag(job.startup.thumb_url), "#{job.startup.url}", target: "_blank", class: "thumbnail" %>
    <ul class="startup-list">
      <li><h2 class="h2-li"><%= job.startup.name %> <span CLASS="title-h2">(<%= job.job_type.titleize %>)</span></h2></li>
      <li><strong>Job title:</strong> <%= job.title.truncate_words(10) %></li>
      <% if job.salary_max && job.salary_min != nil && job.salary_max && job.salary_min != 0 %>
        <li><strong>Salary: </strong>$<%= number_with_delimiter(job.salary_min, delimiter: ',') %> - $<%= number_with_delimiter(job.salary_max, delimiter: ',') %></li>
      <% else %>
        <li><strong>Salary: </strong>N/A</li>
      <% end %>
      <li>
        <%= link_to "Details", job.al_url %> | 
        <%= link_to "Website", job.startup.url %> |
          <% if current_user %>
            <% if current_user.jobs.exists?(al_job_id: job.al_job_id) %>
            <span><i class="fa fa-star"></i></span>
            <% else %>
              <%= form_tag(favorites_path) do %>
                <%= hidden_field_tag(:id, job.id) %>
                <%= hidden_field_tag(:search, params[:search]) %>
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <span><i class="fa fa-thumb-tack"></i></span> 
                <% end %>
              <% end %>
            <% end %>
            <% else %>
              <%= form_tag(favorites_path) do %>
                <%= hidden_field_tag(:id, job.id) %>
                <%= hidden_field_tag(:search, params[:search]) %>
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <span><i class="fa fa-thumb-tack"></i></span> 
                <% end %>
              <% end %>
          <% end %>
      </li>
    </ul>
  <hr>
<% end %>