<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Quick Facts 
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-group">
          <li><strong>Median Household income:</strong> $<%= number_with_delimiter(@zillow.med_house_income, delimiter: ',') %></li> 
          <li class="nat-avg" style="
    font-size: .9em;">(National average $<%= number_with_delimiter(@zillow.med_nat_house_income, delimiter: ',') %>)</li>
          <li><strong>Home Value Index:</strong> $<%= number_with_delimiter(@zillow.zillow_HVI, delimiter: ',') %></li>
          <li class="nat-avg" style="
    font-size: .9em;">(National average $<%= number_with_delimiter(@zillow.zillow_nat_HVI, delimiter: ',') %>)</li>
          <li><strong>Average Commute Time:</strong> About <%= @zillow.avg_commute_time.round %> minutes</li>
          <li class="nat-avg" style="
    font-size: .9em;">(National average About <%= @zillow.avg_nat_commute_time.round %> minutes)</li>
        </ul>
      </div>
    </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Culture Facts 
                </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <ul class="list-group">
              <li class="culter"><strong>Education:</strong> <%= @zillow.education %></li>
              <li class="culter"><strong>People & Culture:</strong> <%= @zillow.people_culture %></li>
              <li class="culter"><strong>Transportation:</strong> <%= @zillow.transportation %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  