<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="container">
  <div id="map" class="map_container">
    <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {maxZoom: 14}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>
  </div>

  <div class="job-list"> 
    <ul>
      <li><strong>Company:</strong> Centereach</li>
      <li><strong>Job title:</strong> Associate Technology Consultant</li> 
      <li><strong>Description:</strong> We're looking for an intelligent, smooth-talker who has interest or experience in technology and/or startups. This is an entry-level position at a rapidly-growing, well-funded technology startup.</li>
      <% end %>
      <li><a href="https://angel.co/venturepact/jobs/57295-associate-technology-consultant">Apply for job</a></li>
    </ul> 
  </div> 


    <!-- <div class="job-list"> 
    <% @locations.each do |location| %>
      <% location.jobs.each do |job| %>
      <ul> 
        <li><strong>City:</strong> <%= location.address %></li>
        <li><strong>Job title:</strong> <%= job.title %></li> 
        <% if job.description != "" %>
        <li><strong>Description:</strong> <%= job.description %></li>
        <% end %>
        <li><%= link_to "Apply for job", job.al_url %></li>
      </ul>  
      <% end %>
    <% end %>
  </div>
</div> -->



